
[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Simple QT client
Comment=Cliente de pruebas en Qt5
Exec=client
Icon=client
Categories=Development;Engineering;Electronics;
Keywords=embedded electronics;electronics;avr;microcontroller;
