# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea/
/cmake-build-debug/
/communications/client/cmake-build-debug/
/communications/client/.idea/
communications/client/.idea
/communications/server/cmake-build-debug/
/communications/server/.idea/
/common/Pruebas.cpp
/menu/build/
/menu/.idea/
/menu/cmake-build-debug/
/0_restos/